name: Test-deploy

on:
    push:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: front
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
            - name: Install dependencies
              run: |
                  # Installation sans lockfile
                  npm install --legacy-peer-deps

                  # On réintègre les fix pour Rollup/SWC qui causaient l'erreur initiale
                  npm install @rollup/rollup-linux-x64-gnu @swc/core-linux-x64-gnu --save-optional

            - name: Build project
              run: npm run build

            - name: Build with Jekyll
              uses: actions/jekyll-build-pages@v1
              with:
                  source: ./front/dist
                  destination: ./_site
